@font-face {
  font-family: "MyriadProSemibold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/MyriadPro-Semibold.woff2") format("woff2"), url("../local/templates/main/css/MyriadPro-Semibold.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-Light.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-Light.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-Regular.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-Regular.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-SemiBold.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ruble";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/rouble.woff2") format("woff2"), url("../local/templates/main/css/rouble.woff") format("woff");
}
.cust-h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}
.cust-h1 span {
  display: block;
  color: #52d1fa;
  font-weight: 700;
}