@font-face {
  font-family: "MyriadProSemibold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/MyriadPro-Semibold.woff2") format("woff2"), url("../local/templates/main/css/MyriadPro-Semibold.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-Light.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-Light.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-Regular.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-Regular.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/SourceSansPro-SemiBold.woff2") format("woff2"), url("../local/templates/main/css/SourceSansPro-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ruble";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../local/templates/main/css/rouble.woff2") format("woff2"), url("../local/templates/main/css/rouble.woff") format("woff");
}
.cust-h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}
.cust-h1 span {
  display: block;
  font-size: 88px;
  color: #52d1fa;
  font-weight: 700;
  line-height: 1;
}

.hero-details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 500px;
}
.hero-details__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero-details__list:not(:first-of-type) {
  padding-left: 20px;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.231372549);
}
.hero-details__list:not(:last-of-type) {
  padding-right: 55px;
}
.hero-details__list li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}
.hero-details__list li:first-of-type {
  font-size: 20px;
  font-weight: 700;
  opacity: 1;
}

@media screen and (min-width: 1020px) {
  .first-screen__content--mod {
    padding: 145px 0 135px;
  }
}
@media (max-width: 1024px) {
  .cust-h1 {
    font-size: 64px;
  }
  .cust-h1 span {
    font-size: 88px;
  }
}
@media (max-width: 900px) {
  .hero-details {
    flex-wrap: wrap;
  }
  .hero-details__list {
    padding-right: initial !important;
    padding-left: initial !important;
    border-left: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.231372549);
    padding: 12px 0 14px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-details__list li {
    font-size: 16px !important;
  }
  .hero-details__list li:last-child {
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  .cust-h1 {
    font-size: 40px;
  }
  .cust-h1 span {
    font-size: 88px;
  }
  .hero-details {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .cust-h1 {
    font-size: 24px;
  }
  .cust-h1 span {
    font-size: 40px;
  }
}